.p-conversion.l-container
  .p-conversion__button-wrapper
    button.p-conversion__button--pc
      img(src="./assets/images/cv-button.png")
    button.p-conversion__button--sp
      img(src="./assets/images/cv-button-sp.png")
  p.p-conversion__text
    span 営業時間
    | 10:00~19:00
    span (年中無休)<br>
    | 開始ボタンを押下後、順次オペレーターに接続いたします
