extends ./components/layout.pug

block head
  title $PROJECT_NAME

block body
  main
    include ./sections/introduction.pug
    include ./sections/conversion.pug
    include ./sections/environment.pug
    include ./sections/notes.pug
